---
import FormHome from "../../components/astro/home/FormHome.astro";
import TestimonialsHome, {
  IReview,
} from "../../components/astro/home/TestimonialsHome.vue";
import HeaderProgram from "../../components/astro/program/HeaderProgram.vue";
import SectionsProgram from "../../components/astro/program/SectionsProgram.vue";
import Layout from "../../layouts/Layout.astro";
import landingService from "../../services/landingService";

export async function getStaticPaths() {
  const data = await landingService.getPrograms();

  // return data.map(({ slug, title }) => {
  //   return {
  //     params: { slug },
  //     props: { title },
  //   };
  // });
  return [
    {
      params: {
        slug: "mentoria-1",
      },
      props: {
        title: "Mentoria-1",
      },
    },
  ];
}

const { title } = Astro.props;
console.log("ADD", title);

const { statistics, why_be_part, reviews, allies } =
  await landingService.getDataLanding();
---

<Layout title={`Programa | ${title}`}>
  <main class="">
    <HeaderProgram />

    <SectionsProgram client:load />

    <TestimonialsHome reviews={reviews as IReview[]} />

    <div class="bg-primary-500">
      <FormHome />
    </div>
  </main>
</Layout>
