---
import Layout from "../../layouts/Layout.astro";
import landingService from "../../services/landingService";

export async function getStaticPaths() {
  const data = await landingService.getPrograms();

  return data.map(({ slug, title }) => {
    return {
      params: { slug },
      props: { title },
    };
  });
}

const { title } = Astro.props;
// console.log("ADD", title);
---

<Layout title={`Programa | ${title}`}>
  <main class="p-10 pt-20">
    <h1 class="bg-primary-500"><h1>{title}</h1></h1>
    <!-- <FormLanding client:load/> -->
    <div>
      <a href="/programas">Return</a>
    </div>
  </main>
</Layout>
