---
import type { IGetStaticPathsCourses } from "../../interfaces/programs";
import Layout from "../../layouts/Layout.astro";
import landingService from "../../services/landingService";

const data = await landingService.getPrograms();
---

<Layout title="Programas">
  <main>
    <h1 class="bg-primary-500">Hola programas</h1>
    <!-- <FormLanding client:load/> -->
    {
      data.map((it) => {
        const link = `/programas/${it.slug}`;
        return (
          <div>
            <a href={link}>{it.title}</a>
          </div>
        );
      })
    }
  </main>
</Layout>

<style></style>
