---
import ProgramasFeatureHome, { ICourse } from "../../components/astro/home/ProgramasFeatureHome.vue";
import Layout from "../../layouts/Layout.astro";
import landingService from "../../services/landingService";

const { statistics, why_be_part, reviews, allies, courses } =
  await landingService.getDataLanding();
---

<Layout title="Programas">
  <main class="">

    <ProgramasFeatureHome
      courses={courses.map((it: any) => ({
        ...it,
        methodologies: JSON.parse(courses[0].methodologies),
      })) as ICourse[]}
    />
    <!-- <FormLanding client:load/> -->
    <!-- {
      data.map((it) => {
        const link = `/programas/${it.slug}`;
        return (
          <div>
            <a href={link}>{it.title}</a>
          </div>
        );
      })
    } -->
  </main>
</Layout>

<style></style>
