---
import { Icon } from "astro-icon";
---

<footer class="flex flex-col absolute w-full bg-primary_dark-500">
  <div
    class="py-10 md:py-16 w-full mx-auto max-w-7xl sm:px-6 lg:px-8 flex flex-col md:flex-row md:items-start md:justify-between"
  >
    <div
      class="flex flex-col w-full md:w-1/5 lg:w-2/5 pr-12 px-10 md:px-4 mb-6 md:mb-0"
    >
      <h3 class="text-white text-lg font-bold mb-3">Contáctanos</h3>
      <p class="flex items-center mb-3">
        <!-- <FiMapPin color="#fff" size="1.8rem"/> -->
        <span class="ml-4 text-white text-sm font-light md:font-normal"
          >329 Queensberry Street, North Melbourne VIC 3051, Australia.</span
        >
      </p>
      <p class="flex items-center mb-3">
        <!-- <FiPhone color="#fff" size="1.2rem"/> -->
        <span class="ml-4 text-white text-sm font-light md:font-normal"
          >+51 981325954</span
        >
      </p>
      <p class="flex items-center mb-3">
        <!-- <FiMail color="#fff" size="1.2rem"/> -->
        <span class="ml-4 text-white text-sm font-light md:font-normal"
          >warmiventures@gmail.com</span
        >
      </p>
      <div class="flex items-center mt-0 ml-4">
        <a
          target="_blank"
          href="https://www.facebook.com/warmiventures"
          class="h-8 w-8 text-white"
        >
          <Icon name="mdi:facebook" />
        </a>
        <a
          class:list="ml-4 pl-4"
          target="_blank"
          href="https://www.instagram.com/warmiventures/"
          class="h-8 w-8 text-white"
        >
          <Icon name="mdi:linkedin" />
        </a>
      </div>
    </div>
    <div
      class="flex flex-col w-full md:w-1/2 lg:w-1/5 px-10 md:px-4 mb-6 md:mb-0"
    >
      <h3 class="text-white text-lg font-medium mb-3">Descubre</h3>
      <a href="/" class="text-white text-sm font-light md:font-normal my-2">
        Lima</a
      >
    </div>
    <div
      class="flex flex-col w-full md:w-1/2 lg:w-1/5 px-10 md:px-4 mb-6 md:mb-0"
    >
      <h3 class="text-white text-lg font-medium mb-3">Categorías</h3>
    </div>
    <div
      class="flex flex-col w-full md:w-1/2 lg:w-1/5 px-10 md:px-4 mb-6 md:mb-0"
    >
      <h3 class="text-white text-lg font-medium mb-3">Programas</h3>
    </div>
    <div class="flex flex-col w-full md:w-1/2 lg:w-2/5 px-10 md:px-4">
      <h3 class="text-white text-lg font-medium mb-3">Suscríbete</h3>
      <p class="text-white text-sm font-light my-1 md:font-normal">
        Entérate de todas las novedades
      </p>
      <div class="bg-white flex justify-between items-center p-1 rounded mt-3">
        <input
          placeholder="Ingresa tu correo"
          type="text"
          class="w-full flex-1 outline-none pl-2"
        />
        <div class="bg-primary-500 p-1 rounded">
          <!-- <FiSend size="1.5rem" color={'#fff'}/> -->
        </div>
      </div>
    </div>
  </div>
  <div class="border-t-1 border-footer">
    <div
      class="pb-8 w-full mx-auto max-w-7xl sm:px-6 lg:px-8 flex flex-col md:flex-row md:items-start md:justify-between"
    >
      <p
        class="text-white text-xs md:text-sm font-light md:font-normal text-center px-2 md:px-0"
      >
        © {new Date().getFullYear()} Desarrollado por Warmi Ventures - Todos los
        derechos reservados.
      </p>
      <div class="text-center mt-4 md:mt-0">
        <a class="text-white font-normal mx-2" href="/programas">Programas</a>
        <!-- <a class="text-white font-normal mx-2" href="/blogs">Blog</a> -->
        <a class="text-white font-normal mx-2" href="/">Contacto</a>
      </div>
    </div>
  </div>
</footer>
