---
import logo from "../../../assets/logo.png";
---

<nav class="flex flex-col absolute w-full bg-primary-500 border-gray-400 border-b-2 z-50">
  <div
    class="py-4 w-full mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 flex items-center justify-between"
  >
    <a href="/" class="">
      <img
        class="w-12 md:w-16 h-6 md:h-8 object-cover"
        src={logo}
        alt="A rocketship in space."
      />
    </a>
    <div class="">
      <a class="text-black font-medium mx-2" href="/programas">Programas</a>
      <a class="text-black font-medium mx-2" href="/blogs">Blog</a>
      <a class="text-black font-medium mx-2" href="/">Contacto</a>
    </div>
    <div class="">
      

      <a
        class="text-black font-medium border-2 border-black rounded-md px-3 py-1 bg-white"
        href="/">Tengo una idea</a
      >
    </div>
    
  </div>
</nav>
