---
import { Icon } from "astro-icon";

import HeaderSection from "../layout/HeaderSection.astro";
---

<div class="py-20 w-full mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
  <HeaderSection title="Sobre nosotros" />

  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 w-full mt-12">
    <div class="col-span-1">
      <p class="text-gray-400 mr-0 md:mr-32 text-md">
        Warmi nació  a mitad del 2020 con la finalidad de promover la inclusión
        de más mujeres en el ecosistema de emprendimiento e innovación y
        startups. Jaime, Giovana y Katya llevaron un curso sobre gestión de
        incubadoras dictado por Alvaro Zarate quien cuenta basta experiencia
        trabajando para aceleradoras,startups y en el ecosistema como parte
        práctica requerían que crearán sus propias incubadoras a los
        participantes; es así que fundan Warmi Ventures con finalidad de apoyar
        a nuevas ideas negocios a más emprendedoras peruanas como pasaba el
        tiempo se dieron cuenta que al funcionar de manera remota/online podrían
        expandirse a más países de LATAM y es así que continúan ejecutando más
        programa y conectando con más aliados y stakeholders que les permite
        seguir creciendo.
      </p>
    </div>
    <div class="col-span-1">
      <div class="grid grid-cols-2 gap-3 md:gap-6">
        <div class="flex items-center">
          <div class="container-card-person">
            <div class="card-person">
              <img class="image-person" src="images/about1.png" />
              <div class="footer">
                <div class="flex items-center justify-between name">
                  <h5 class="text-base md:text-xl font-bold leading-5">
                    Giovana Vargas
                  </h5>

                  <a
                    target="_blank"
                    href="https://www.linkedin.com/in/giovana-roque-vargas/"
                  >
                    <Icon name="mdi:linkedin" />
                  </a>
                </div>
                <p class="text-xs md:text-sm title text-center md:text-left">
                  Director de Marketing y Comunicaciones
                </p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="container-card-person">
            <div class="card-person">
              <img class="image-person" src="images/about2.png" />
              <div class="footer footer2">
                <div class="flex items-center justify-between name">
                  <h5 class="text-base md:text-xl font-bold leading-5">
                    Jaime Fernandez
                  </h5>

                  <a
                    href="https://www.linkedin.com/in/jaime-alejandro-fern%C3%A1ndez-chavez/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Icon name="mdi:linkedin" />
                  </a>
                </div>
                <p class="text-xs md:text-sm title text-center md:text-left">
                  Director de operaciones y Coordinador académico
                </p>
              </div>
            </div>
          </div>
          <div class="container-card-person mt-3 md:mt-6">
            <div class="card-person">
              <img class="image-person" src="images/about3.png" />
              <div class="footer footer3">
                <div class="flex items-center justify-between name">
                  <h5 class="text-base md:text-xl font-bold leading-5">
                    Katya Bustillos
                  </h5>

                  <a
                    href="https://www.linkedin.com/in/katya-anco/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Icon name="mdi:linkedin" />
                  </a>
                </div>
                <p class="text-xs md:text-sm title text-center md:text-left">
                  Director Fundraising y proyectos
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
  .header {
    border-bottom: 1px solid !important;
  }
  .container-card-person {
    padding: 0.3rem;
    background: #fff;
    @media screen and (min-width: 1000px) {
      padding: 0.6rem;
    }
  }
  .card-person {
    border-radius: 12px;
    overflow: hidden;
    .image-person {
      height: 180px;
      object-fit: cover;
      @media screen and (min-width: 1000px) {
        height: 240px;
      }
    }
    .footer {
      background: #d5fcf2;
      padding: 0.5rem;
      @media screen and (min-width: 1000px) {
        padding: 1rem;
      }
      .name {
        border-bottom: 1px solid #232039;
        padding-bottom: 0.4rem;
        margin-bottom: 0.4rem;
      }
      .title {
        color: #555364;
      }
    }
    .footer2 {
      background: #fcd5ed !important;
    }
    .footer3 {
      background: #ffe6bc !important;
    }
  }
  [astro-icon] {
    color: #232039;
    /* OR */
    fill: #232039;
    height: 24px;
    width: 24px;
  }
</style>
