<section class="grid grid-cols-2">
    <article class="pt-10 ">
        <h1 class="font-bold text-3xl py-4"> Potenciamos negocios de emprendedoras latinoamericanas </h1>
        <p class="py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, distinctio reprehenderit. Quaerat, iusto! Molestiae vel tempore omnis? Vitae, praesentium omnis!</p>
        <button class="p-4 bg-black text-white">Conocé nuestros programas</button>
    </article>
    <article>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" alt="">
    </article>
</section>