---
import { Icon } from "astro-icon";
---

<div class="bg-secondary-300">
  <div class="py-20 w-full mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
    <div
      class="flex justify-between items-center w-full border-gray-500 pb-4 header"
    >
      <h2 class="text-5xl font-semibold w-1/2">
        Programas que impulsan tu negocio
      </h2>

      <img
        class="h-20 w-20"
        src="https://images.vexels.com/media/users/3/188383/isolated/preview/441ae65c263ed326999f19e452b4f044-icono-de-adorno-de-arbol-de-estrella-de-navidad.png"
        alt=""
      />
    </div>

    <div class="grid grid-cols-3 gap-12 w-full mt-12">
      <div class="item-program bg-secondary-500 p-8 rounded-md">
        <span class="span-valid  px-2 py-1 rounded-md"
          >Valida tu idea</span
        >
        <h3 class="my-4 text-4xl font-semibold">Preincubación</h3>
        <p class="text-gray-500 description mb-4">
          Te ayudaremos a validar la problemática y lanzar tu idea de negocio
        </p>
        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <button class="bg-primary-700 w-full p-3"> Ver más información</button>
      </div>
      <div class="item-program bg-secondary-500 p-8 rounded-md">
        <span class="span-valid  px-2 py-1 rounded-md"
          >Valida tu idea</span
        >
        <h3 class="my-4 text-4xl font-semibold">Preincubación</h3>
        <p class="text-gray-500 description mb-4">
          Te ayudaremos a validar la problemática y lanzar tu idea de negocio
        </p>
        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <button class="bg-primary-700 w-full p-3"> Ver más información</button>
      </div>
      <div class="item-program bg-secondary-500 p-8 rounded-md">
        <span class="span-valid  px-2 py-1 rounded-md"
          >Valida tu idea</span
        >
        <h3 class="my-4 text-4xl font-semibold">Preincubación</h3>
        <p class="text-gray-500 description mb-4">
          Te ayudaremos a validar la problemática y lanzar tu idea de negocio
        </p>
        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <div class="flex items mb-2">
          <Icon name="mdi:check" />

          <p class="ml-1">
            100% remoto. Con actividades sincrónicas y asincrónicas
          </p>
        </div>

        <button class="bg-primary-700 w-full p-3"> Ver más información</button>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
  .header {
    border-bottom: 1px solid !important;
  }
  .item-program {
    border: 1px solid #7d7887;
    span{
        background: #FFF3D6;
        font-size: 12px;
    }
    h3 {
      color: #333333;
    }
    .description {
      border-bottom: 1px dashed #7d7887;
      padding-bottom: 1rem;
    }
    .items {
      p {
        color: #4d4d4d;
      }
    }
    .span-valid {
      border: 1px solid #333333;
    }
    button {
      border: 1px solid #7d7887;
      border-radius: 8px;
      margin-top: 1rem;
    }
  }

  [astro-icon] {
    color: #209663;
    /* OR */
    fill: #209663;
    height: 28px;
    width: 28px;
  }
</style>
