---
import HeaderSection from "../layout/HeaderSection.astro";
---

<div class="py-20 w-full mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
  <HeaderSection title="Qué dicen nuestras participantes" />

  <div class="grid grid-cols-1 md:grid-cols-3 gap-12 w-full mt-12">
    <div class="testimonial-item">
      <div class="flex items-center">
        <img
          class="rounded-full h-14 w-14 object-cover"
          src="https://img.freepik.com/foto-gratis/retrato-joven-rubio-mujer_273609-12060.jpg"
          alt=""
        />
        <div class="ml-4">
          <p class="font-bold">Nombre y apellido</p>
          <p>País</p>
        </div>
      </div>
      <p class="mt-4">
        “Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.”
      </p>
    </div>
   
  </div>
</div>

<style scoped lang="scss">
  .header {
    border-bottom: 1px solid !important;
  }
  .testimonial-item {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 1rem;
  }
</style>
