---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import FormLanding from '../components/vue/FormLanding.vue';
import HeaderHome from '../components/astro/home/HeaderHome.astro';
import StatisticsHome from '../components/astro/home/StatisticsHome.astro';
import WhyByPart from '../components/astro/home/WhyByPart.astro';
import FormHome from '../components/astro/home/FormHome.astro';
import TestimonialsHome from '../components/astro/home/TestimonialsHome.astro';
import AlliancesHome from '../components/astro/home/AlliancesHome.astro';
import AboutUs from '../components/astro/home/AboutUs.astro';
import ProgramasFeatureHome from '../components/astro/home/ProgramasFeatureHome.astro';
---

<Layout title="Welcome to Astro.">
	<main class="pt-20 bg-primary-500" >
		<HeaderHome/>

		<StatisticsHome/>

		<WhyByPart/>

		<ProgramasFeatureHome/>

		<FormHome/>

		<TestimonialsHome/>

		<AlliancesHome/>

		<AboutUs/>
		
	</main>
</Layout>

<style>

</style>
