---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import FormLanding from "../components/vue/FormLanding.vue";
import HeaderHome from "../components/astro/home/HeaderHome.astro";
import WhyByPart, { IWhyBePart } from "../components/astro/home/WhyByPart.vue";
import FormHome from "../components/astro/home/FormHome.vue";
import TestimonialsHome, {
  IReview,
} from "../components/astro/home/TestimonialsHome.vue";
import AlliancesHome, {
  IAllies,
} from "../components/astro/home/AlliancesHome.vue";
import AboutUs from "../components/astro/home/AboutUs.astro";
import ProgramasFeatureHome, {
  ICourse,
} from "../components/astro/home/ProgramasFeatureHome.vue";
import landingService from "../services/landingService";
import StatisticsHome, {
  IStatistic,
} from "../components/astro/home/StatisticsHome.vue";
import type { IGetStaticPathsCourses } from "../interfaces/programs";

const { statistics, why_be_part, reviews, allies, courses } =
  await landingService.getDataLanding();

const courseHome: IGetStaticPathsCourses = {
  slug: "",
  title: "",
  subtitle: "",
  description: "",
  objetive: "",
  resume: "",
  image: "",
  methodologies: [],
  sections: [],
};

// console.log("data", JSON.parse(courses[0].methodologies));
---

<Layout title="Welcome to Astro.">
  <main class="pt-20 bg-primary-500">
    <HeaderHome />

    <StatisticsHome statistics={statistics as IStatistic[]} />
    <!-- <FormLanding/> -->

    <WhyByPart items={why_be_part as IWhyBePart[]} />

    <ProgramasFeatureHome
      courses={courses.map((it: any) => ({
        ...it,
        methodologies: JSON.parse(courses[0].methodologies),
      })) as ICourse[]}
    />

    <FormHome client:load course={courseHome} />

    <TestimonialsHome reviews={reviews as IReview[]} />

    <AlliancesHome allies={allies as IAllies[]} />

    <AboutUs />
  </main>
</Layout>

<style></style>
