---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blogs">
  <main class="p-10 pt-20">
    <h1 class="bg-primary-500">Hola Blogs</h1>
    <!-- <FormLanding client:load/> -->
    <div>
        <a href="/">Return</a>
      </div>
  </main>
</Layout>